<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.zhku.jsj144.lzc.articleHub.mapper.CommonMapper">

	<resultMap id="commonResultMap" type="Map"/>

	<select id="getData" parameterType="Map" resultMap="commonResultMap">
		select * from `${params.arg.type}` where
		<foreach collection="params.data.keys" item="k" separator="and">
			<if test="null != params.data[k]">
				`${k}` like #{params.data[${k}]}
			</if>
			<if test="null == params.data[k]">
				`${k}` is null
			</if>
		</foreach>
	</select>

	<delete id="deleteData" parameterType="Map">
		delete from `${params.arg.type}` where
		<foreach collection="params.data.keys" item="k" separator="and">
			<if test="null != params.data[k]">
				`${k}` = #{params.data[${k}]}
			</if>
			<if test="null == params.data[k]">
				`${k}` is null
			</if>
		</foreach>
	</delete>

	<insert id="insertData" parameterType="Map">
		insert into `${params.arg.type}`
		<foreach collection="params.data.keys" item="key" open="(" close=")"
			separator=",">
			`${key}`
		</foreach>
		values
		<foreach collection="params.data.keys" item="key" open="(" close=")"
			separator=",">
			#{params.data[${key}]}
		</foreach>
	</insert>
	
	<update id="updateData" parameterType="Map">
		update `${params.arg.type}` set
		<foreach collection="params.data.keys" item="k" separator=",">
			<if test="null != params.data[k]">
				`${k}` = #{params.data[${k}]}
			</if>
			<if test="null == params.data[k]">
				`${k}` is null
			</if>
		</foreach>
		where `${params.arg.field}` = #{params.arg.value}
	</update>
</mapper>